@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



.header_text
{
  font-size: clamp(3rem, 5vw, 10rem); 
  line-height: clamp(3rem, 5vw, 10rem);
}

.subheader_text
{
  font-size: clamp(1rem, 1.3vw, 5rem);  
}

.pricing_list_item
{
  font-size: clamp(1rem, 1.5vw, 2rem); 
}